[submodule "NXNGwSJSaWO-Remote"]
	path = apps/my-account
	url = https://github.com/DevEarley/NXNGwSJSaWO-Remote.git

[submodule "my-profile"]
  path = apps/my-profile
  url = https://github.com/DevEarley/my-profile.git
[submodule "apps/my-profile/my-profile"]
	path = apps/my-profile/my-profile
	url = https://github.com/DevEarley/my-profile
